sub, sup{
  font-family: Arial, serif;
  font-size: 75%;
}

blockquote{
  border: 3px outset lightsteelblue;
  text-align: center;
  font-family: "Trebuchet MS", serif;
}

pre{
  text-align: center;
}

/* Párrafos */
p{
  font-family: Arial, serif;
}

p.img{
  text-align: center;
}

p.resaltado{
  text-align: center;
}

/* Títulos */
h1{
  font-family: Georgia, serif;
  background-color: lightblue
}

h2.rojo{
  font-family: Georgia, serif;
  color: darkred;
}

h2.morado{
  font-family: Georgia, serif;
  color: rebeccapurple;
}

h3{
  font-family: Georgia, serif;
  color: darkslateblue;
}

/* Resaltadores */
strong.azul{
  font-family: SansSerif, serif;
  background-color: #b3d4fc;
  text-align: center
}

strong.rojo{
  font-family: SansSerif, serif;
  background-color: indianred;
  color: white;
  text-align: center
}

strong.morado{
  font-family: SansSerif, serif;
  background-color: rebeccapurple;
  color: white;
  text-align: center
}
